# Under MIT License
# Copyright (c) 2023 Guillaume Dua "Guss"
# Source: https://github.com/GuillaumeDua/CppShelf/blob/main/.clang-format
# ---

# Still waiting for https://reviews.llvm.org/D33029 ...

BasedOnStyle                                  : Microsoft
Language                                      : Cpp
Standard                                      : Latest

AlignAfterOpenBracket                         : BlockIndent # AlwayBreak
# BracedInitializerIndentWidth                  : 4 # TODO: clang-format-17
AlignArrayOfStructures                        : Right # TODO: test
AlignOperands                                 : AlignAfterOperator
AlignConsecutiveAssignments                   : None # AcrossEmptyLinesAndComments => dirty with using-alias directives followed by declaration(s)
AlignConsecutiveDeclarations                  : 'true'
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignTrailingComments                         : 'true'
AllowShortCaseLabelsOnASingleLine             : 'false'
AllowShortEnumsOnASingleLine                  : 'true'
AllowShortFunctionsOnASingleLine              : InlineOnly # Empty
AllowShortIfStatementsOnASingleLine           : Never # WithoutElse
AllowShortLambdasOnASingleLine                : All
AllowShortLoopsOnASingleLine                  : 'false'
AlwaysBreakAfterReturnType                    : None
AlwaysBreakBeforeMultilineStrings             : 'false' # true
AlwaysBreakTemplateDeclarations               : Yes
BreakAfterAttributes                          : Never
BinPackArguments                              : 'false'
BinPackParameters                             : 'false'
ExperimentalAutoDetectBinPacking              : 'false'
BreakBeforeConceptDeclarations                : 'true'
IndentRequires                              : 'true'
BreakBeforeBinaryOperators                    : All # NonAssignment
BreakBeforeBraces                             : Custom
BraceWrapping:
    AfterCaseLabel          : 'false'
    AfterClass              : 'false'
    AfterStruct             : 'false'
    AfterControlStatement   : Never #MultiLine
    AfterEnum               : 'false'
    AfterFunction           : 'false'
    AfterNamespace          : 'false'
    AfterUnion              : 'false'
    AfterExternBlock        : 'false'
    BeforeCatch             : 'true'
    BeforeElse              : 'true'
    BeforeWhile             : 'true'
    IndentBraces            : 'true'
    BeforeLambdaBody        : 'false'
    SplitEmptyFunction      : 'false'
    SplitEmptyRecord        : 'false'
    SplitEmptyNamespace     : 'false'
BreakBeforeTernaryOperators   : 'true'
BreakConstructorInitializers  : BeforeComma
BreakInheritanceList          : BeforeComma
BreakStringLiterals           : 'false'
NamespaceIndentation          : All # Inner
FixNamespaceComments          : 'false'
ColumnLimit                   : 0
IndentWidth                   : 4
# PPIndentWidth                 : '-1' # == IndentWidth
TabWidth                      : 4
UseTab                        : Never
IndentWidth                   : 4
TabWidth                      : 4
PPIndentWidth                 : '1' # == IndentWidth
PackConstructorInitializers   : Never
UseCRLF                       : 'false'
CompactNamespaces             : 'true'
AllowAllArgumentsOnNextLine   : 'false'
AllowAllParametersOfDeclarationOnNextLine : 'false'
ConstructorInitializerAllOnOneLineOrOnePerLine : 'true'
ConstructorInitializerIndentWidth : '4'
ContinuationIndentWidth       : 4
Cpp11BracedListStyle          : true
AccessModifierOffset          : -4
EmptyLineAfterAccessModifier  : Always
EmptyLineBeforeAccessModifier : Always
IncludeBlocks                                 : Regroup
IndentAccessModifiers         : 'false' 
IndentCaseBlocks              : 'false'
IndentCaseLabels              : 'true'
IndentExternBlock             : Indent
IndentGotoLabels              : 'false'
IndentPPDirectives            : BeforeHash
IndentRequiresClause          : 'false' # formely clang<14, IndentRequires
IndentWrappedFunctionNames    : 'false'
InsertTrailingCommas          : Wrapped
KeepEmptyLinesAtTheStartOfBlocks: 'false'
LambdaBodyIndentation         : Signature
MaxEmptyLinesToKeep           : '1'
PointerAlignment              : Middle # or left
ReferenceAlignment            : Middle
ReflowComments                : 'true'
RequiresClausePosition        : OwnLine
RequiresExpressionIndentation : OuterScope
# ShortNamespaceLines 
SortIncludes                  : Never
SortUsingDeclarations         : Never
SpaceAfterCStyleCast          : false
SpaceAfterLogicalNot          : 'false'
SpaceAfterTemplateKeyword     : 'true'
SpaceAroundPointerQualifiers  : Both
SpaceBeforeAssignmentOperators: 'true'
SpaceBeforeCaseColon          : 'true'
SpaceBeforeCpp11BracedList    : 'false'
# SpaceBeforeJsonColon          : 'false' # TODO: clang-format-17
SpacesInContainerLiterals     : 'false'
SpaceBeforeCtorInitializerColon: 'true'
SpaceBeforeInheritanceColon   : 'true'
SpaceBeforeParens             : ControlStatements
SpaceBeforeRangeBasedForLoopColon : 'true'
SpaceBeforeSquareBrackets     : 'false'
SpaceInEmptyBlock             : 'false'
SpaceInEmptyParentheses       : 'false'
SpacesBeforeTrailingComments  : 1
SpacesInAngles                : Never
SpacesInCStyleCastParentheses : 'false'
SpacesInConditionalStatement  : 'false'
SpacesInLineCommentPrefix:
    Minimum : 1
    Maximum : 1
SpacesInParentheses           : 'false'
SpacesInSquareBrackets        : 'false'
# VerilogBreakBetweenInstancePorts: 'true' # clang-format-17
