Checks: '-boost-*,
        cert-*,
        cppcoreguidelines-*,
        clang-analyzer-*,
        google-*,
        llvm-*,
        -llvm-include-order,
        misc-*,
        modernize-*,
        mpi-*,
        performance-*,
        readability-*,
        -google-readability-namespace-comments
        '

WarningsAsErrors: '*'
HeaderFilterRegex: '.*hpp$'