# CMake
build/
Testing/

# CMake - integration test
test/integration/CMakeCache.txt
test/integration/CMakeFiles
test/integration/_deps

# LLVM
.cache/clangd

# MSVC
*.vs
bin
out
Debug/
Release/
*.vcxproj.user
*.idb
*.pdb

# Outputs
*.o
*.obj
*.elf
*.lo
*.slo
*.gch
*.pch
*.so
*.so.*
*.dylib
*.dll
*.lai
*.la
*.a
*.lib

x64
x86
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# docs
docs/output

# Others
local
.clangd

# Claude
CLAUDE.md
.claude
